body{
    background-color: rgb(201, 201, 201);
    font-family: sans-serif;
}

h1{
    background-color: rgb(207, 162, 36);
}

h1, h2{
    color: brown;
}

p{
    margin-left: 20px;
    text-align: justify;
}

a{
    text-decoration: none;
}